[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"psycopg2" = "*"
alembic = "*"
bcrypt = "*"
flask = "*"
flask-cors = "*"
flask-graphql = "*"
flask-sockets = "*"
flask-sqlalchemy-core = "*"
graphql-core = "*"
graphql-ws = "*"
gunicorn = "*"
nicelog = "*"
pyjwt = "*"
pytz = "*"
redis = "*"
rx = "*"
sqlalchemy = "*"
pyql = "*"
mowaki = ">=0.3"
tabulate = "*"

[dev-packages]
ipython = "*"
pytest = "*"
pytest-cov = "*"
pdbpp = "*"

[requires]
python_version = "3"

[scripts]
start = "python -m app run --host localhost --port 5000 --debugger --reload"
start_gunicorn = "gunicorn -k flask_sockets.worker app.dev:app --reload --bind localhost:5000"
start_public = "python -m app run --host 0.0.0.0 --port 5000 --debugger --reload"
